// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
.thread {
	margin-top: 15px;
	a {
		@extend .btn;
		@extend .btn-primary;
	}
	.thread_actions {
		text-align: right;
	}
	.thread_header {
		font-size: 24px;
	}
	.comment_commontator {
		font-size: 18px;
	}
}

.wrapper {
	a {
		&:hover {
			text-decoration: none;
		}
	}
	.news-item {
		min-height: 300px;
		position: relative;
		display:flex;
		margin-bottom: 30px;
		border: #d6d5d5 solid 1px;
		box-shadow: 1px 1px 10px -2px grey;
		.content {
			width:66%;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.title {
				transition: .5s;
				color: white;
				display: flex;
				justify-content: space-between;
				padding: 10px 25px 10px 25px;
				font-size: 30px;
				font-family: 'Staatliches-Regular';
				background-color: red;
				border-bottom-left-radius: 10px;
				box-shadow: 2px 2px 10px -2px grey;
				&:hover {
					box-shadow: 4px 4px 10px -3px grey;
				}
			}
			.description {
				padding-left: 25px;
				font-size: 24px;
			}
			.info {
				padding: 5px 230px 5px 15px;
				color: #7d7d7d;
				display: flex;
				justify-content: flex-end;

				.author {
					font-style:italic;
				}
			}
		.controls {
			position: absolute;
			bottom: 0;
			right: 0;
			display: flex;
			.el {
				color: inherit;
			}
		}
		}
		.image {
			width:34%;
			img {
				object-fit: cover;
				width:100%;
				height: 300px;
			}
		}

	}
	.create-control {
		font-size: 20px;
		padding: 7px 20px;
		text-transform: uppercase;
		margin-right: 15px;
		&:hover {
			cursor: pointer;
		}
		float:right;

	}
}
.detailed-news {
	display:flex;
	flex-direction:column;
	justify-content:center;
	.body {
		display:block;
		width:100%;
		.image {
			width:100%;
			img {
				width:100%;
				
			}
		}
		.text {
			width:100%;
			font-size: 24px;
			font-style:italic;
		}
	}
	.title {
		font-size:30px;
		padding:0 0 5px 20px;
		border-bottom: #eaeaea solid 1px;
	}
	.controls {
		text-align:right;
	}
}



